body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("ai-generated-8793076_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .product-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: #ff0000;

  }
  
  .product-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .product-item h3 {
    margin: 10px 0;
  }
  
  .product-item p {
    font-size: 18px;
    color: #333;
  }
  
  .product-item button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .product-item button:hover {
    background-color: #0056b3;
  }
  
  .cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  
  .payment-options button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
  }
  
  .payment-options button:hover {
    background-color: #218838;
  }
  
  .payment-form {
    margin-top: 20px;
  }
  
  .payment-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .payment-form button:hover {
    background-color: #0056b3;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  h2 {
    font-size: 24px;   
    margin-bottom: 10px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
.form-group {
  margin: 15px;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  display: block;
  
  
}
.sub{
  text-decoration: underline;
}
button{
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}
input{
  width: 50%;
  margin: 8px 0px ;


}